<html>

<body>

<h1 id="chick_logo">Anime Chicken Lovers' Group </h1>

  <h3 id="chick_slogan">Animated Chickens Unite! </h3>

  <a href="/main/index">The Anime Chicken Lovers' Group Homepage. <class="chick_menu"></a>

  <a href="/main/contact">Contact: Connect to other Anime Chicken Lovers <class="chick_menu"></a>

  <a href="/main/gallery">Gallery: Our web-wonderful collection of Anime Chicken images for all ages <class="chick_menu"></a>

  <a href="/main/video">Videos: The hottest Chickens in Anime <class="chick_menu"></a>

  <img src="http://fc07.deviantart.net/fs70/f/2012/366/a/2/white_beard_fried_chicken_by_avasandji-d5pzd97.jpg">

  <p>Founded a little while ago, we are both for and against KFC because it's chicken, but it is not animated. We oppose the Chick-Fil-A cow advertising campaign as it reduces the cartooning of chickens, and thereby, reduces world happiness. We do eat chicken, and are not directly related to vegitarian causes. We accept donations, whenever we get that set up.</p>

  <p>Our cause is to increase the representation of chickens in animated entertainment. The original chicken-loving founder, imposter Kernel Saunders, believes that chickens in anime increases quality, and therefore happiness, and therefore world peace. Again, we accept donations, eventually.</p>

  <p>In the interest of world peace, and one day, increased donations, the members of the Anime Chicken Lovers Group have expanded their outreach to include restaurants that serve chickens and use chicken cartoons in their advertisement. (Please see our petition about the Chick-Fil-A cows.) We also actively support, animated chickens from non-Japanese sources, and the wearing of chicken suits as both casual and workforce attire.</p>

</body>

</html>