<html>

<body>
  
  <h3>Connect to other anime chicken lovers, and further our chicken-righteous cause </h3>

  <img src="http://images6.fanpop.com/image/answers/3368000/3368376_1380065581973.75res_289_300.jpg" class="chick_image">

  <div> <strong> JOIN US! </strong> 
    <span class="chicken_whisper"> Again, we are not a cult. </span>
  </div>

  <form method="post" name="chick_contact_form"
  action="contact-form-handler.php">
    <span class="chick_form">Your Name:</span><span class="chick_form"> Sign up, cluckie-cluck.</span>
    <input type="text" name="name"> </br>
    <span class="chick_form"> Email Address:</span><span class="chick_form"> Let chicken lovers contact you.</span>
    <input type="text" name="e-mail"></br>
    <span class="chick_form"> Donation Amount:</span><span class="chick_form"> We want SILK chicken suits.</span>
      <select name="donation">
        <option value="1000">$1,000 for the Love of Chickens</option>
        <option value="10000">$10,000 for the Love of Animated Chickens</option>
        <option value="100000">$100,000 Dedicate your Life to Chickens in Anime</option>
        <option value="1000000">$1,000,000 Because We Can't Take Your Soul, yet</option>
      </select>
    </br>
    <span class="chick_petition"> Chick-Fil-A Anti-Cow Petition: </span><span class="chick_form"> Only chickens should encourage people to eat more chicken!</span>
    <input type="text" name="anti-cow_name"></br>
    <span class="chick_petition"> Increase in Chicken-Related Anime Petition: </span> <span class="chick_form"> Tell animators and authors that you want more chickens!</span>
    <input type="text" name="more_chick_name"></br>
    <span class="chick_form"> Message:</span><span class="chick_form"</span> Site not weird enough, please add your own opinion.
    <textarea name="message" class=></textarea></br>
    <div class="chick_button_form">
      <input type="submit" value="Cluck Me">
    </div>
   </form>

  <div> Have a chicken-related question? </div>
    <a href=mailto:cartoonchickencult@google-yah.com?subject=Recruiting%20cult%20members> E-mail us, cluckie-cluck </a>

  <div> Have a non-chicken-related question? </div>
    <a href=mailto:Inevercheckthisaccount@google-yah.com?subject=No%20chicken%20haters%20allowed> E-mail us </a>
  

</body>

<html>