<html>

<body>

<h1 id="chick_logo">Anime Chicken Lovers' Group </h1>

  <h3 id="chick_slogan">Animated Chickens Unite! </h3>

  <a href="/main/about">About Us: Everything you ever wanted to know about the Anime Chicken Lovers' Group, but were afraid to ask. <class="chick_menu"></a>

  <a href="/main/contact">Contact: Connect to other Anime Chicken Lovers <class="chick_menu"></a>

  <a href="/main/gallery">Gallery: Our web-wonderful collection of Anime Chicken images for all ages <class="chick_menu"></a>

  <a href="/main/video">Videos: The hottest Chickens in Anime <class="chick_menu"></a>
  
  <p>Connect to other anime chicken lovers, and further our chicken-righteous cause </p>

  <img src="http://images6.fanpop.com/image/answers/3368000/3368376_1380065581973.75res_289_300.jpg">

  <div> <strong> JOIN US! </strong> <small> Again, we are not a cult. </small> </div>

  <form method="post" name="chick_contact_form"
  action="contact-form-handler.php">
    <span class="chick_form">Your Name:</span><span class="chick_form_comment"> Sign up, cluckie-cluck.</span>
    <input type="text" name="name"> </br>
    <span class="chick_form"> Email Address:</span><span class="chick_form_comment"> Let chicken lovers contact you.</span>
    <input type="text" name="e-mail"></br>
    <span class="chick_form"> Donation Amount:</span><span class="chick_form_comment"> We want SILK chicken suits.</span>
    <input type="text" name="donation"></br>
    <span class="chick_petition"> Chick-Fil-A Anti-Cow Petition: </span><span class="chick_form_comment"> Only chickens should encourage people to eat more chicken!</span>
    <input type="text" name="anti-cow_name"></br>
    <span class="chick_petition"> Increase in Chicken-Related Anime Petition: </span> <span class="chick_form_comment"> Tell animators and authors that you want more chickens!</span>
    <input type="text" name="more_chick_name"></br>
    <span="chick_form"> Message:</span><span="chick_form_comment"</span> Site not weird enough, please add your own opinion.
    <textarea name="message"></textarea></br>
    <input type="submit" value="Cluck Me"></br>
   </form>

  <div> Have a chicken-related question? </div>
    <a href=mailto:cartoonchickencult@google-yah.com?subject=Recruiting%20cult%20members> E-mail us, cluckie-cluck </a>

  <div> Have a non-chicken-related question? </div>
    <a href=mailto:Inevercheckthisaccount@google-yah.com?subject=No%20chicken%20haters%20allowed> E-mail us </a>
  

</body>

<html>