<html>

<body>

	<div class="chick_fail">
        <div class="chick_fail_center">

			<h2> Whoops! That's not right. 
			</h2>

		  	<div class="chick_outer">
		  		<%=image_tag "failchicken.png", :width=>"300", :height=>"auto", :id=>"imgFailchicken"%>
		  	</div>

		  	<p> Don't worry, Mr. Failchicken won't let this slide.
			</p>
			<p> We'll get the chicken-lovin' site back on track soon. 
			</p>

		</div>
	</div>

	<img src="http://0.tqn.com/d/graphicssoft/1/0/z/X/5/SKS-Plaid106.png" class="fail_image">

</body>

</html>