<html>

<body>

  <div class="container">

    <div class="chick_gallery">

      <img src="http://images2.fanpop.com/images/photos/3300000/Kenpachi-Fried-Chicken-bleach-anime-3321044-277-277.jpg" class="img-responsive chick_image">

      <img src="http://www.ezcosplay.com/media/catalog/product/cache/5/image/9df78eab33525d08d6e5fb8d27136e95/2/_/2_2_1_4.jpg" class="img-responsive chick_image">

      <img src="http://i01.i.aliimg.com/photo/v1/884383321/New_Design_Yellow_Chick_girls_sleep_wear.jpg" class="img-responsive chick_image">

      <img src="http://img3.wikia.nocookie.net/__cb20140414071756/skip-beat/images/3/35/Ren_pulls_Bo%27s_crows.jpg" class="img-responsive chick_image">

      <img src="http://static.zerochan.net/Kuroko.no.Basket.full.1191026.jpg" class="img-responsive chick_image">

      <img src="http://media.tumblr.com/tumblr_mbr50gsFiA1qdutnc.png" class="img-responsive chick_image">

      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg6eF4QwZF0kZVBrvv8njFm7AGvBLpSc0ycPCSPZCOQs5FjmLJ" class="img-responsive chick_image">
  
      <img src="http://2.bp.blogspot.com/-pn9VB500Cuc/UfKMvUntjMI/AAAAAAAABXs/mk5geWMQ8lY/s1600/Chicken-Boss-jinrui-wa-suitai-shimashita-33122543-1272-718.png" class="img-responsive chick_image">

      <img src="http://static.zerochan.net/Chicken.Spirit.full.141609.jpg" class="img-responsive chick_image">

      <img src="http://www.oocities.org/sg/bloodyknight198517/tokimeki/charpics/big/hiyoko.jpg" class="img-responsive chick_image">

      <img src="http://mobi-wall.brothersoft.com/files/240400/o/12834586357961.jpg" class="img-responsive chick_image">

      <img src="http://i173.photobucket.com/albums/w76/TYCONFOOM/Motivational%20Album/mega-ultra-chicken-anime-demotivational-poster-1228355045.jpg" class="img-responsive chick_image">

      <img src="http://oishiianime.com/wp-content/uploads/2012/12/Humanity-Has-Declined-Chicken.jpg" class="img-responsive chick_image">


     </div>
  </div>

</body>

</html>