<html>

<!-- The more I type, the weirder it gets, my cluckie-cluck. -->

 
 <body>

 <div class="container">

  <div class="chick_outer">

    <h3> All anime is improved by chickens. <strong> NO!, LIFE is improved by chickens! </strong></h3>

    <p class="chicken_whisper"> P.S. We are not a cult. </p>

      <div class="chick_resources">

        <h3> Contribute to the Greater Love of Chicken. Post to the Public CluckerBoard.</h3>
        <ul> 
          <li>
            <a> Post About Your Animated Chicken Love </a>
          </li>
          <li>
            <a> Pictures of Your Animated Chicken Love </a>
          </li>
          <li>
            <a> Videos of Your Animated Chicken Love </a>
          </li>
        </ul>

        <h3> Links Chicken Lovers' love to love </h3>
        <ul>
          <li>
            <a href="http://www.ehow.com/how_6325774_make-chicken-suit.html">Make you own chicken suit! </a>
          </li>
          <li>
            <a href="http://www.cafepress.com/+i-love-chickens+hats-caps">Chicken themed baseball caps, for when your friends and relatives won't let you wear the chicken suit. </a>
          </li>
          <li>
            <a href="http://www.freemoodle.org/mod/page/view.php?id=2168">Famous American Cartoon Chickens </a>
          </li>
        </ul>

      </div>

      <div class="chick_resources">

       <div class="chick_post">
        <%@publicClucks.each do |publicCluck|%>
          <textarea class="public_posts" name="public_posts"><%= publicCluck.user_id %><%=publicCluck.public_cluck%></textarea>
        <%end%>
       </div>
        
      </div>

    </div>

    <div class="clear_float">  </div>
  </div>

</body>

</html>