<html>

<!-- The more I type, the weirder it gets, my cluckie-cluck. -->

 
 <body>

 <div class="container">

  <div class="chick_outer">

    <h3> All anime is improved by chickens. <strong> NO!, LIFE is improved by chickens! </strong></h3>

    <p class="chicken_whisper"> P.S. We are not a cult. </p>

      <div class="chick_resources">

        <h3> Contribute to the Greater Love of Chicken. Post to the Public CluckerBoard.</h3>
        <ul> 
          <li>
            <a> Post About Your Animated Chicken Love </a>
          </li>
          <li>
            <a> Pictures of Your Animated Chicken Love </a>
          </li>
          <li>
            <a> Videos of Your Animated Chicken Love </a>
          </li>
        </ul>

        <h3> Links Chicken Lovers' love to love </h3>
        <ul>
          <li>
            <a href="http://www.ehow.com/how_6325774_make-chicken-suit.html">Make you own chicken suit! </a>
          </li>
          <li>
            <a href="http://www.cafepress.com/+i-love-chickens+hats-caps">Chicken themed baseball caps, for when your friends and relatives won't let you wear the chicken suit. </a>
          </li>
          <li>
            <a href="http://www.freemoodle.org/mod/page/view.php?id=2168">Famous American Cartoon Chickens </a>
          </li>
        </ul>

      </div>

      <div class="chick_resources">

        <div class="chick_post">
          <p> Chickenator: I'm going to cross the road, BUT I'LL BE BACK! </p>
        </div>
        <div class="chick_post">
          <p> Chuckie Cluckers: Of course the price of chicken suits is high. Look at who's in congress! No Chicken-lovers. I haven't seen one of them wear a proper chicken suit, not even when they campaign. </p>
        </div>
        <div class="chick_post">
          <p> Missy Cluckie-Cluck: Just bought new chicken cosplay pajamas. So CUTE!! Check out the pict on my website.</p>
        </div>
        <div class="chick_post">
          <p> The Animated Chicken Place: This week only, buy the <i>My Little Monster</i> box set and get a free chicken plushie!</p>
        </div>
        <div class="chick_post">
          <p> Otaku the Great and Chicken: Saw the latest AMV on YouTube to the chicken Dance song. The timing was good, but it needed more chickens. </p>
        </div>
        <div class="chick_post">
          <p> Captain Wingman: </p>
        </div>
      </div>

    </div>

    <div class="clear_float">  </div>
  </div>

</body>

</html>