<html>

<!-- The more I type, the weirder it gets, my cluckie-cluck. -->
 
 <body>

  <p>All anime is improved by chickens. <strong> NO!, LIFE is improved by chickens! </strong> We at the Anime Chickens Lovers' Group are dedicated to the proliferation of chicken related content in japanese animation, domestic cartooning, advertisement and personal apparrel.</p>

  <p> <small> P.S. We are not a cult. </small> </p>

  <p> Links Chicken Lovers' love to love </p>
  <ul>
    <li>
      <a href="http://www.ehow.com/how_6325774_make-chicken-suit.html">Make you own chicken suit! </a>
    </li>
    <li>
      <a href="http://www.cafepress.com/+i-love-chickens+hats-caps">Chicken themed baseball caps, for when your friends and relatives won't let you wear the chicken suit. </a>
    </li>
    <li>
      <a href="http://www.freemoodle.org/mod/page/view.php?id=2168">Famous American Cartoon Chickens </a>
    </li>
   </ul>

  <button name=chick_button id="chick_index_button">Cluck Me</button>

</body>

</html>