<html>

<!-- The more I type, the weirder it gets, my cluckie-cluck. -->
 
 <body>

 <div class="chick_outer">

  <h3> All anime is improved by chickens. <strong> NO!, LIFE is improved by chickens! </strong></h3>

  <p class="chicken_whisper"> P.S. We are not a cult. </p>

    <div class="chick_resources">

      <h3> Anime Chicken Lover Member: </h3>
      <h3 class="chick_member"> Captain Wingman </h3>

      <h3> Contribute to the Greater Love of Chicken. Post to the Public CluckerBoard. </h3>
      <ul> 
        <li>
          <a> Post About Your Animated Chicken Love </a>
        </li>
        <li>
          <a> Pictures of Your Animated Chicken Love </a>
        </li>
        <li>
         <a> Videos of Your Animated Chicken Love </a>
        </li>
      </ul>

      <h3> Like Your Anime Chicken Affairs Private? Post to your Private Peeps-Only Page.</h3>
      <ul>
        <li>
          <span class="chick_private_post"> Post to Your Closest Peeps about your Animated Chicken Love </span>
          <textarea class="chick_private_post" name="private_post"></textarea>
          <button type="button" class="btn-danger">Cluck!</button>
        </li>
        <li>
          <a> Private Pictures of Your Animated Chicken Obessions </a>
        </li>
        <li>
          <a> Private Videos of Your Animated Chicken Love, for You and Your Peeps Only! </a>
        </li>
      </ul>

    </div>

    <div class="my_peeps_list">
      <ul>
          <li>
            <a img src="http://www.reviewstl.com/wp-content/uploads/2010/01/robot-chicken.jpg" class="my_peeps_picture"></a><span> Chickenator </span>
          </li>
          <li>
            <a img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&docid=nNMUaFsWNCPmjM&tbnid=8FTsKkdX6OyyxM:&ved=0CAUQjRw&url=https%3A%2F%2Fsvpply.com%2Fitem%2F1202398%2FKAREN_WALKER_Harvest_in_BlackGold&ei=mCbUU4oEyuDyAY20gYAC&bvm=bv.71778758,d.b2U&psig=AFQjCNHV6rvOIBK-fPN-Gcgiqi8xToHncg&ust=1406498832369109"  class="my_peeps_picture"> Missy Cluckie-Cluck </a>
          </li>
          <li>
            <a img src="http://cdn-www.i-am-bored.com/media/chickeneggcig.jpg"  class="my_peeps_picture"> Otaku the Great and Chicken </a>
          </li>
      </ul>
    </div>  

    <div class="chick_resources">

      <div class="chick_post">
        <p> Chickenator: Going to run for governor. Increase the Anime Chickens in California! </p>
      </div>
      <div class="chick_post">
        <p> Missy Cluckie-Cluck: Hi! Thanks for commenting on my new chicken pajamas. I'm going to do a sexy chicken-cosplay video soon. Making the wings right now.</p>
      </div>
      <div class="chick_post">
        <p> Otaku the Great and Chicken: Found a new AMV site, so I got a few new chicken music videos. Want to meet this Saturday? </p>
      </div>
    </div>

  </div>

  <div class="clear_float">  </div>

</body>

</html>