<html>

 <body>



 <div class="container">

  <div class="chick_outer">

    <h3> All anime is improved by chickens. <strong> NO!, LIFE is improved by chickens! </strong></h3>

    <p class="chicken_whisper"> P.S. We are not a cult. </p>

      <div class="chick_resources">

        <h3> Anime Chicken Lover Member: </h3>
        
        <h3 class="chick_member"><%=@member%></h3>
        
        <h3> Contribute to the Greater Love of Chicken. Post to the Public CluckerBoard. </h3>
        <ul> 
          <li>

            <span class="chick_public_post"> Post About Your Animated Chicken Love </span>
            <textarea class="public_message" name="public_message"></textarea>
            </br>
            <button type="button" class="btn-public btn-danger">Cluck!</button>
            <div class="chick_public_error chicken_output">  </div>
          </li>

          <li>
            <a> Pictures of Your Animated Chicken Love </a>
          </li>
          <li>
          <a> Videos of Your Animated Chicken Love </a>
          </li>

        </ul>

        <h3> Like Your Anime Chicken Affairs Private? Post to your Private Peeps-Only Page. </h3>
        <ul>
          <li>
            
            <span class="chick_private_post"> Post to Your Closest Peeps about your Animated Chicken Love </span>
            <textarea class="private_message" name="private_message"></textarea>
            </br>
            <button type="button" class="btn-private btn-danger">Cluck!</button>
            <div class="chick_private_error chicken_output">  </div>
         
          </li>
          <li>
            <a> Private Pictures of Your Animated Chicken Obessions </a>
          </li>
          <li>
            <a> Private Videos of Your Animated Chicken Love, for You and Your Peeps Only! </a>
          </li>
          <li>
          <a href="/user_friendships/new"><strong> Need Someone to Share Your Private Chicken Obsessions with? Add a New Peep! </strong></a>
          </li>
        </ul>

      </div>

      <div class="my_peeps_list">

        <h3> My Peeps </h3>
        <ul>
            <li>
              <img src="http://farm5.static.flickr.com/4112/5408694241_48f32309b0_m.jpg" class="img-thumbnail my_peeps_picture"><span><a> Missy Cluckie-Cluck </a></span>
            </li>
            <li>
              <img src="http://cdn-www.i-am-bored.com/media/chickeneggcig.jpg"  class="img-thumbnail my_peeps_picture"><span><a> Otaku the Great and Chicken </a></span>
            </li>
        </ul>
      </div>  

      <div class="chick_resources">

        <div class="chick_post">
          <%@privateClucks.each do |privateCluck|%>
          <textarea class="private_posts" name="private_posts"><%= privateCluck.user.user%>:  <%= privateCluck.private_cluck %> (<%= time_ago_in_words(privateCluck.updated_at) %>)</textarea></textarea></textarea>
          <% end %>
        </div>
        
      </div>

    </div>

    <div class="clear_float">  </div>
  </div>

</body>

</html>





