<html>

<body>

<h1 id="chick_logo">Anime Chicken Lovers' Group </h1>

  <h3 id="chick_slogan">Animated Chickens Unite! </h3>

  <a href="/main/about">About Us: Everything you ever wanted to know about the Anime Chicken Lovers' Group, but were afraid to ask. <class="chick_menu"></a>

  <a href="/main/contact">Contact: Connect to other Anime Chicken Lovers <class="chick_menu"></a>

  <a href="/main/gallery">Gallery: Our web-wonderful collection of Anime Chicken images for all ages <class="chick_menu"></a>

  <a href="/main/video">Videos: The hottest Chickens in Anime <class="chick_menu"></a>

  <p> This anime <i> My Little Monster </i> features a pet chicken. It is an excellent love comedy, unfornately the main love story is not centered around the chicken. </p>
  <iframe width="560" height="315" src="//www.youtube.com/embed/wYAA8jQ1BH8" frameborder="0" allowfullscreen></iframe>

</body>

</html>