<html>

<body>

  <p> This anime <i> My Little Monster </i> features a pet chicken. It is an excellent love comedy, unfornately the main love story is not centered around the chicken. </p>
  <iframe width="560" height="315" src="//www.youtube.com/embed/wYAA8jQ1BH8" frameborder="0" allowfullscreen></iframe>

</body>

</html>