<html>
<body>

<!-- <h1>" @friend.user %>"</h1> -->


<!-- <p>Do you want " @friend.user %> to be your peep, and trust them with your private clucks?</p>  -->


<div name="new_friend" class="new_friend">
	<h1>Your New Peep:</h1>
	<div> Connect to Another Anime Chicken Lover </div>
	<input type="text" name="chick_friend" class="chick_friend">
	</br>
	<button name="chick_friend_button" id="chick_friend_button"
	class="chick_all_button"> Peep! </button>
	<button name="chick_friend_cancel_button" id="chick_friend_cancel_button"
	class="chick_all_button"> No Peep! </button>
	<div id="friend_error" class="chicken_output chick_login_txt">  </div>
</div>


</body>
</html>