// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { background: #fff2a9; color: #000; border: solid 3px #ff7e3c; padding-left: 10px; padding-right: 10px; font-family: Helvetica;}

.chicken_menu { font-family: 'Chicle', sans-serif; padding-left: 20px; padding-right: 20px; width: 100%; font-size: 18px; line-height: 22px}
.chick_menu { margin-left: auto; margin-right: auto; color: #b36013; width: 35em; margin-top: 10%;}

#chick_logo { position: absolute; top: 26px; left: 5%; color: #ff881b; font-size: 48px} 

#chick_index_button { position: absolute; top: 45px; right: 5%; color: rgba(255,120,0,.8);}

.chick_center { display: block; margin-left: auto; margin-right: auto; width: 702px;} 

.chick_slogan_wrap
{
background: url(http://fc04.deviantart.net/fs70/f/2012/085/4/5/i_like_u_as_my_harvest_moon_chickens_by_malejoveza-d4u1hvg.png) no-repeat;
width:auto;
height:300px;
line-height: 300px;
margin-top: 25px;
border: solid 3px #ff881b;
}

.chick_slogan_wrap .chick_slogan_inwrap {font-family: 'Princess Sofia', sans-serif; color: #ff6e3c; width: 320px; margin-left: auto; margin-right: auto;line-height: 4px; font-size: 20px}

p { margin-bottom: 3px; line-height: 22px; font-size: 18px; max-width: 700px;}

.chick_image { height: 300px; border: solid 3px #ff881b; width: auto; margin-left: auto; margin-right: auto; margin-top: 3%; margin-bottom: 3%}

.chick_img_package {font-size: 14px; text-align: center;}

h3 { font-family: 'Chicle', sans-serif; color: #ff7e2c; max-width: 700px;}

.chick_form { margin-bottom: 6px; line-height: 30px; font-size: 18px;}

.chick_petition { margin-bottom: 6px; line-height: 30px; font-size: 22px; color: #ff881b;}

.chick_about { width: 15em; font-size: 18px; float: left; margin-left: 1.7em; margin-right: 1.7em;}

.clear_float { clear: both;}


