// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chicken_page { background: #fff2a9; color: #000; border: solid 3px #ff7e3c; padding-left: 10px; padding-right: 10px;}

#chicken_menu { padding-left: 20px; padding-right: 20px; width: 100%}
.chick_menu { margin-left: auto; margin-right: auto; color: #b36013; width: 35em; margin-top: 8%;}

#chick_logo { position: absolute; top: 20px; left: 5%; color: #ff881b;} 

#chick_index_button { position: absolute; top: 45px; right: 5%;}

.chick_center { display: block; margin-left: auto; margin-right: auto; width: 702px;} 

.chick_slogan_wrap
{
background: url(http://fc04.deviantart.net/fs70/f/2012/085/4/5/i_like_u_as_my_harvest_moon_chickens_by_malejoveza-d4u1hvg.png) no-repeat;
width:auto;
height:300px;
line-height: 300px;
margin-top: 20px;
border: solid 3px #ff881b;
}

.chick_slogan_wrap .chick_slogan_inwrap {color: #ff7e3c; width: 300px; margin-left: auto; margin-right: auto; line-height: 5px;}


