<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Chicle|Princess+Sofia' rel='stylesheet' type='text/css'>
  <title>Clucker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="chicken_menu">

    <h1 id="chick_logo">Anime Chicken Lovers' Group </h1>

    <div class="chick_menu">

      <a href="/main/index"> 
        <span class="chick_cap_menu"> H</span>omepage</a>

      <a href="/main/about">
      <span class="chick_cap_menu"> A</span>bout</a>

      <a href="/main/contact">
        <span class="chick_cap_menu"> C</span>ontact</a>
      
      <a href="/main/gallery">
        <span class="chick_cap_menu"> G</span>allery</a>
          
      <a href="/main/video">
        <span class="chick_cap_menu"> V</span>ideo</a>
        </br>

      <span class="chick_tooltip">All the Anime Chicken Lovers in One Place.</span>
      <span class="chick_tooltip">Everything You Ever Wanted to Know about Anime Chicken Lovers</span>
      <span class="chick_tooltip">Connect to Other Anime Chicken Lovers</span>
      <span class="chick_tooltip">Hot Picts of Anime Chickens</span>
      <span class="chick_tooltip">The Hottest Chicken Videos</span>
      <div class="clear_float">  </div>



    </div>
  </div>

    <div class="chick_center">
     <div class="chick_slogan_wrap"> 
       <div class="chick_slogan_inwrap"> 
         <h2> Animated Chickens Unite! </h2>
       </div>
     </div>
    </div>

  
</div>

<%= yield %>

</body>
</html>
